<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout A-4</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo">로고</h1>
            <nav class="nav">메뉴</nav>
        </header>
        <!-- header -->

        <article id="slider">이미지 슬라이드</article>
        <!-- slider -->

        <main id="contents">
            <section class="content1">공지사항</section>
            <section class="content2">공지사항</section>
            <section class="content3">공지사항</section>
        </main>
        <!-- contents -->

        <footer id="footer">
            <div class="footer1">
                <div class="footer1-1">하단 메뉴</div>
                <div class="footer1-2">하단 메뉴</div>
            </div>
            <div class="footer2">패밀리 사이트</div>
        </footer>
        <!-- footer -->

    </div>
    <!-- wrap -->
</body>

</html>
