@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

li {
    list-style: none;
}

/* container */
.container {
    width: 1340px !important;
    margin: 0 auto;
    height: inherit;
}
