* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSans';
}

#wrap {
    width: 100%;
}

#main {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #efefef;
    display: flex;
}

#header {
    width: 200px;
    height: 100%;
}

#header h1 {
    width: 100%;
    height: 10%;
    background-color: #e3e3e3;
}

#header nav {
    width: 100%;
    height: 90%;
    background-color: #d9d9d9;
}

#contents {
    width: 400px;
    height: 100%;
}

#contents .banner {
    width: 100%;
    height: 15%;
    background-color: #d1d1d1;
}

#contents .notice {
    width: 100%;
    height: 35%;
    background-color: #c7c7c7;
}

#contents .gallery {
    width: 100%;
    height: 35%;
    background-color: #bcbcbc;
}

#contents .link {
    width: 100%;
    height: 15%;
    background-color: #b1b1b1;
}

#slider {
    width: calc(100% - 600px);
    height: 100%;
    background-color: #a3a3a3;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 120px;
    background-color: #9d9d9d;
}

#footer .footer2 {
    width: 80%;
}

#footer .footer2 .footer2-1 {
    width: 100%;
    height: 60px;
    background-color: #929292;
}

#footer .footer2 .footer2-2 {
    width: 100%;
    height: 60px;
    background-color: #838383;
}

/* Slider */
.sliderWrap {
    position: relative;
    height: 100%;
}

.sliderWrap .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sliderWrap .slider.s1 {
    background-image: url(images/slider04.jpg);
}

.sliderWrap .slider.s2 {
    background-image: url(images/slider05.jpg);
}

.sliderWrap .slider.s3 {
    background-image: url(images/slider06.jpg);
}

.sliderWrap .slider span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
}