<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout D-2</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div id="wrap">
        <aside id="aside">
            <h1 class="logo">로고</h1>
            <nav class="nav">메뉴</nav>
        </aside>
        <!-- Asdie -->

        <main id="main">
            <article id="slider">
                <div class="image">이미지 슬라이드</div>
                <div class="banner">배너</div>
            </article>
            <!-- Slider -->

            <section id="contents">
                <div class="content1">공지사항</div>
                <div class="content2">갤러리</div>
            </section>
            <!-- Contents -->
        </main>
        <!-- Main -->

        <footer id="footer">
            <div class="footer1">로고</div>
            <div class="footer2">COPYRIGHT</div>
            <div class="footer3">패밀리 사이트</div>
        </footer>
        <!-- Footer -->
    </div>
    <!-- Wrap -->
</body>

</html>