<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div id="wrap">
        <aside id="aside">
            <h1>로고</h1>
            <nav>메뉴</nav>
        </aside>
        <!-- Aside -->

        <main id="main">
            <article id="slider">이미지 슬라이드</article>
            <!-- Article -->

            <section id="contents">
                <article class="content1">공지사항</article>
                <article class="content2">갤러리</article>
                <article class="content3">배너</article>
            </section>
            <!-- Section -->

            <footer id="footer">
                <div class="footer1">로고</div>
                <div class="footer2">
                    <div class="footer2-1">하단 메뉴</div>
                    <div class="footer2-2">COPYRIGHT</div>
                </div>
            </footer>
            <!-- Footer -->

        </main>
        <!-- Main -->

    </div>
    <!-- Wrap -->

</body>

</html>