<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout D-3</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div id="wrap">
        <aside id="aside">
            <h1>로고</h1>
            <nav>메뉴</nav>
        </aside>
        <!-- Aside -->

        <main id="main">
            <article id="slider">이미지 슬라이드
                <div class="link">링크</div>
            </article>
            <article id="banner">배너</article>
            <section id="contents">공지사항/갤러리</section>
        </main>
        <!-- Main -->

        <footer id="footer">
            <div class="footer1">로고</div>
            <div class="footer2">
                <div class="footer2-1">하단 메뉴</div>
                <div class="footer2-2">COPYRIGHT</div>
            </div>
        </footer>
        <!-- Footer -->

    </div>
    <!-- Wrap -->

</body>

</html>