* {
    font-family: "nanumSquareNeo";
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: normal;
}

#aside h1,
.footer1,
.footer2,
.footer3 {
    line-height: 100px;
}

#aside nav {
    line-height: 550px;
}

.footer2-1,
.footer2-2 {
    line-height: 50px;
}

#slider {
    line-height: 400px;
}

#slider .link {
    line-height: 300px;
}

#banner {
    line-height: 200px;
}

#contents {
    line-height: 250px;
}

.container {
    justify-content: center;
}